@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  h1 {
    max-width: 80ch;
    @apply text-6xl;
  }
  h2 {
    max-width: 80ch;
    @apply text-4xl;
  }
  h3 {
    max-width: 80ch;
    @apply text-2xl;
  }
  h4 {
    max-width: 80ch;
    @apply text-xl;
  }

  p {
    max-width: 80ch;
  }

  .text-center p {
    @apply mx-auto;
  }

  .Video-container iframe {
    @apply w-full;
  }

  input:focus-within ~ label,
  input:not(:placeholder-shown) ~ label {
    opacity: 0;
  }
}
